body{
  width: 90%;
  height: 100%;
}
#StartBtn,#ResetBtn{
    width: 70px;
    height: 40px;
    background-color: rgb(94, 97, 94);
    font-size: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-left: 5px;
}
canvas {
    border: 1px solid black;
    position: absolute;
    cursor: crosshair;
  }
  #info{
display: flex;
margin: 5px;
  }
  #range,#size{
    margin-left: 10px;
    display: flex;
  }
  datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 200px;
  }
  
  option {
    padding: 0;
  }
  
  input[type="range"] {
    width: 200px;
    margin: 0;
  }
  .wrapper{
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    text-align: center;
  }